.outside-div {
  background-color: #077e687a;
}

.video-title {
  text-align: center;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(10, 81, 163);
}

.video-title span {
  color: rgb(0, 0, 0);
}

.iframe {
  width: 500px !important;
  display: block;
  margin: auto;
}